.board {
	padding: 1em 1em 1em 1em;
	font-family: 'RomanceFatalSerifStd';
}

.board h1 {
	font-size: 1em;
}

.card {
	display: inline;
	vertical-align: top;
	position: relative;
}

.cardImage, .cardImageSmall {
	height: 8em;
}

.cardImage:hover, .cardImageLarge {
	height: 12em;
}
