@font-face {
    font-family: 'Romance Fatal Serif Std';
    src: url('font/subset-RomanceFatalSerifStd.eot');
    src: url('font/subset-RomanceFatalSerifStd.eot?#iefix') format('embedded-opentype'),
        url('font/subset-RomanceFatalSerifStd.woff2') format('woff2'),
        url('font/subset-RomanceFatalSerifStd.woff') format('woff'),
        url('font/subset-RomanceFatalSerifStd.ttf') format('truetype'),
        url('font/subset-RomanceFatalSerifStd.svg#RomanceFatalSerifStd') format('svg');
    font-weight: 500;
    font-style: normal;
}

